<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Sloth</title>
</head>
<body>
    <h3>Add a new Sloth</h3>
    <form action="/sloth" method="POST">
        <label for="name">Sloth Name:</label><br>
        <input type="text" name="name"><br>
        <label for="age">Sloth Age:</label><br>
        <input type="text" name="age"><br>
        <label for="quote">Your Quote:</label><br>
        <textarea name="quote" id="" cols="60" rows="6" placeholder="your quote here.."></textarea><br>
        <input type="submit" value="Add Sloth">
    </form>
    <% if(typeof(errors) != 'undefined') { %>
        <% for(var x in errors) { %>
        <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>
</body>
</html>